//
// Custom
// --------------------------------------------------


// Base styles
// -------------------------

body {
  padding-top: 50px;
}
img {
          display: block;
          height: auto;
          max-width: 100%;
   }
// Nav
// -------------------------

.navbar-collapse {
    padding: 0;
}

.accor-navbar {
    background-color: @navbar-accor-bg;
}
.navbar-header .navbar-brand{
    background: url("../img/logo-jlv-ah.png") no-repeat scroll 0 -10px rgba(0, 0, 0, 0);
     display: block;
     height: 44px;
     margin: 0;
     padding: 12px 0 0;
     text-indent: -9999px;
     width: 238px;
}

.navbar-accor a{
    background: url("../img/logo-ah.gif") no-repeat scroll right -11px rgba(0, 0, 0, 0);
     display: block;
     height: 44px;
     margin: 0;
     padding: 12px 0 0;
     width: 248px;
    text-indent: -9999px;
}
footer .navbar-accor a{
    background: url("../img/logo-ah-blue.gif") no-repeat scroll right -11px rgba(0, 0, 0, 0);
}
footer .navbar-accor a.bandyou{
    background: url("../img/logo-bandyou.png") no-repeat scroll right -11px rgba(0, 0, 0, 0);
    width: 148px;
}
footer .navbar-accor a.photobox{
    background: url("../img/logo-photobox.png") no-repeat scroll right -11px rgba(0, 0, 0, 0);
    width: 148px;
}


//temp
footer .navbar-accor a{
    text-indent: 0;
    padding: 20px;
}
//

.navbar-accor span{
    display: block;
    font-size: 14px;
        float: left;
        line-height: 20px;
        padding: 19px 0 0;

}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
// Footer
// -------------------------

.bs-footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}
.footer-links {
    margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
@media (min-width: 768px) {
.bs-footer {
    text-align: left;
}
.bs-footer p {
    margin-bottom: 0;
}
}


// Banner home & Page
// -------------------------
.home-banner {
width: 456px;
height: 452px;
background: url("../img/home-banner.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.page-banner {
width: 810px;
height: 300px;
background: url("../img/page-banner.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
// Jumbotron
// -------------------------


.container .jumbotron {
    padding: 20px 20px 20px 20px;
    margin: 0 0 10px 0;
    font-size: 125%;
}
.container .jumbotron ul{
    background: none repeat scroll 0 0 #FFFFFF;
        font-size: 100%;
        line-height: 20px;
        list-style-type: none;
        margin: 0 0 10px;
        padding: 10px 12px;
        text-align: left;
    border-radius: @border-radius-base;
}
//.container .jumbotron ul.prize{
//    background: none repeat scroll 0 0 #998B84;
//    color: #fff;
}
.container .jumbotron ul li{
    margin: 0;
    padding: 0;
    font-size: 80%;
}
.container .jumbotron ul li p{
    margin: 0;
    padding: 0;
    font-size: 110%;
}

.prize_amount{
    color:@brand-primary;
    font-size: 175%;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.btn-lg {
    font-size: 100%;
    font-weight: bold;
    margin: 10px 0;
}
.container .jumbotron .input-group {
    font-size: 70%;
    font-family: arial;
    padding: 6px 0;
    color: @gray;
    line-height: 15px;
}

// Grid
// -------------------------


.show-grid {
  margin-bottom: 12px;
}
.col-md-12 {
    width: 50%;
    margin-bottom: 15px;
}

// form
// -------------------------
#drop-files {
  width: 285px;
  height: 185px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 4px dashed rgba(0, 0, 0, 0.2);
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 2em;
  float: left;
  margin: 0;
}

.photo-detail {
  width: 520px;
}

.btn-participation-col {
  width: 100%;
  margin-bottom: 10px;
}

.block-col {
  margin-bottom: 10px;
}

.map-detail{
  width: 100%;
}

































.item {
    position: relative;

}


.item .item-infos {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    height: 65px;
    left: 10px;
    right: 10px;
    padding: 10px 0 10px 10px;
    position: absolute;
}
.item:hover .item-infos {
    display: block;
}
.item .item-infos span {
    color: #FFFFFF;
    display: block;
}
.item-infos span.item-infos-title, .item-infos span.item-date {
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    height: 25px;
    margin: 0;
    padding: 5px 0 0 5px;
    width: 235px;
}
.item-infos span.item-infos-title {
    background: url("../img/jlv_ico.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    font-size: 15px;
    padding: 5px 0 0 35px;
    width: 235px;
}

.item-infos span.item-infos-count {
    float: right;
    margin: 0;
}

.item-infos span.item-infos-count span.count-votes {
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin: 0 0 0 10px;
    padding: 5px 0 0;
    text-align: center;
    width: 30px;
}
.item-infos span.item-infos-count span.count-votes {
    font-size: 11px;
    letter-spacing: -0.05em;
}

.item-infos span.item-infos-count span.count-votes {
    background: url("../img/jlv_ico_vote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #990066;
    float: right;
    margin: 0 10px 0 0;
}
span.item-infosData {
    float: left;
    margin: 10px 5px;
    width: 300px;
}

.bs-docs-grid {
  .col-md-12 {
    background: @CCC;
  }
}