//
// Custom
// --------------------------------------------------

// Base styles
// -------------------------

body {
  padding-top: 50px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

// Nav
// -------------------------

.navbar-collapse {
  padding: 0;
}

// Footer
// -------------------------

.bs-footer {
  border-top: 1px solid #E5E5E5;
  color: #777777;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
}

.footer-links {
  margin: 10px 0;
  padding-left: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }

  .bs-footer p {
    margin-bottom: 0;
  }
}

// Jumbotron
// -------------------------

.container .jumbotron {
  padding: 30px;
  margin: 0;
}

.btn-lg {
  font-size: 16px;
  font-weight: bold;
}

// Grid
// -------------------------

.show-grid {
  margin-bottom: 15px;
}

// form
// -------------------------
#drop-files {
  width: 285px;
  height: 185px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 4px dashed rgba(0, 0, 0, 0.2);
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 2em;
  float: left;
  margin: 0;
}

.photo-detail {
  width: 520px;
}

.btn-participation-col {
  width: 260px;
  margin-bottom: 8px;
}

.block-col {
  margin-bottom: 8px;
}

.map-detail{
  width: 250px;
}