//
// Custom
// --------------------------------------------------


// Base styles
// -------------------------

body {
  padding-top: 50px;
}
img {
          display: block;
          height: auto;
          max-width: 100%;
   }
// Nav
// -------------------------

.navbar-collapse {
    padding: 0;
    font-size: 15px;
}

.accor-navbar {
    background-color: @navbar-accor-bg;
}
.navbar-header .navbar-brand{
    background: url("../img/logo-jlv-ah.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
     display: block;
     height: 44px;
     margin: 0;
     padding: 12px 0 0;
     text-indent: -9999px;
     width: 238px;
}

.navbar-accor {
    text-align:center;
    a{
        background: url("../img/logo-ah.png") no-repeat scroll 10px 4px rgba(0, 0, 0, 0);
         display: block;
         height: 44px;
         margin: 0;
         padding: 12px 0 0;
         width: 258px;
        text-indent: -9999px;

    }
}

footer .navbar-accor{
    a{
        height: 60px;
        background: url("../img/logo-accor.png") no-repeat scroll 20px 4px rgba(0, 0, 0, 0);
        width: 278px;
    }
    a.bandyou{
        background: url("../img/logo-bandyou.png") no-repeat scroll 15px 10px rgba(0, 0, 0, 0);
        width: 128px;
    }
    a.photobox{
        background: url("../img/logo-photobox.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
        width: 178px;
    }
}


//temp
//footer .navbar-accor a{
//    text-indent: 0;
//    padding: 20px;
//}
//

.navbar-accor span{
    display: block;
    font-size: 14px;
        float: left;
        line-height: 20px;
        padding: 19px 0 0;

}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
.nav .divider-vertical {
  height: 50px;
  width: 1px;
  margin: 0 5px;
  overflow: hidden;
  background-color: #222;
  border-right: 1px solid #444;

}

// Footer
// -------------------------

.bs-footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    margin-top: 30px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;

    .powered {
        padding: 10px 0;
        color: #ddd;
        a {
            color: #ddd;
        }
        a:hover {
            color: #990066;
            text-decoration: none;
        }
    }
}
.footer-links {
    margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}


@media (min-width: 768px) {
.bs-footer {
    text-align: left;
}
.bs-footer p {
    margin-bottom: 0;
}
}


// Banner home & Page
// -------------------------
.home-banner {
    width: 790px;
    height: 350px;
background: url("../img/slides/home-banner.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6
{
    display: block;
    background: #eee;
//    width: 790px;
//    height: 350px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}
//
//.slide1 {
//    background-image: url("../img/slides/slide1.jpg") ;
//}
//.slide2 {
//    background-image: url("../img/slides/slide2.jpg") ;
//}
//.slide3 {
//    background-image: url("../img/slides/slide3.jpg") ;
//}
//.slide4 {
//    background-image: url("../img/slides/slide4.jpg") ;
//}
//.slide5 {
//    background-image: url("../img/slides/slide5.jpg") ;
//}
//.slide6 {
//    background-image: url("../img/slides/slide6.jpg") ;
//}


.page-banner {
    position: relative;

      a {
        display:inline-block;
        img {
            width: 100%;
        }
    }
}


.page-fangate {
    display:block;
    width: 790px;
    height: 400px;
    margin-top: -7px;
    background: url("../img/slides/page_fangate.jpg") no-repeat scroll 0 0px rgba(0, 0, 0, 0);
    .animation-arrow {
        position: absolute;
        top: 10px;
        right: 20px;
        animation-name: arrow;
                    	animation-duration: 1.5s;
                    	animation-timing-function: ease;
                    	animation-iteration-count: 999;
                    	animation-direction: normal;
        img.arrow{

        }
    }
}
@keyframes arrow {
   0% {
    top: 10px;
    right: 20px;
      animation-timing-function: linear;
   }
    25% {
     top: -10px;
     right: 20px;
       animation-timing-function: linear;
    }

   100% {
    top: 10px;
    right: 20px;
      animation-timing-function: ease;
   }
}


.epub {
    display: block;
    width: 250px;
    height: 250px;
    max-height: 250px;
    overflow: hidden;
    a {
    display: block;
    width: 250px;
    height: 250px;
    max-height: 250px;
    }
}

.prize-board {
    display: block;
    width: 250px;
    height: 290px;
    a {
    display: block;
    width: 250px;
    height: 290px;
    background: url("../img/epub/prize-board.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}




.button-participate {

    z-index: 2;
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.page-banner {
    .button-participate {
        bottom: 20px;
        right: 40px;
        .btn {
            font-weight: bold;
        }
    }
}

// Grid
// -------------------------


.show-grid {
  margin-bottom: 12px;
}
.col-md-12 {
    margin-bottom: 15px;
}

// form
// -------------------------
#drop-files {
  width: 285px;
  height: 185px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 4px dashed rgba(0, 0, 0, 0.2);
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 2em;
  float: left;
  margin: 0;
}


.btn-participation-col {
     .btn {
      width: 100%;
      margin-bottom: 10px;
    }
}

.pager {
    margin: 0 0 20px 0;
}

.block-col {
  margin-bottom: 10px;
}

.map-detail{
  width: 100%;
}


.page-header {
    margin: 10px 0 20px;
}

.container .btn-social.btn-lg {
    font-size: 15px;
        padding-left: 48px;
        padding-right: 5px;
        text-align: center;
}



.media {
        .media-body {
                padding: 0 10px;
            .media-heading {
                color:@navbar-accor-bg;
            }
            .value {
                padding: 5px 10px;
                margin: 10px 0;
                color:@navbar-accor-bg;
                background: #eee;
                display: inline-block;
            }
        }
    }



























.item,
item-large{
    position: relative;
}
.item img,
item-large img{
    display: block;
    height: auto;
    max-width: 100%;
    min-width: 100%;
}

.item .item-infos {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    height: 65px;
    left: 10px;
    right: 10px;
    padding: 10px 0 10px 10px;
    position: absolute;
}
.item:hover .item-infos {
    display: block;
}
.item .item-infos span {
    color: #fff;
    display: block;
}

.item-infos .item-infos-title {
    color: #fff;
    background: url("../img/jlv_ico.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    font-size: 15px;
    margin: 0;
    padding: 5px 0 0 35px;
    width: 100%;
}
.item-infos .item-date {
    display: block;
    color: @gray-lighter;
    font-size: 11px;
    height: 25px;
    margin: 0;
    padding: 5px 0 0 5px;
    width: 100%;
}

.item-infos .item-infos-count {
    bottom: 10px;
        margin: 0;
        position: absolute;
        right: 0;
}

.item-infos .item-infos-count .count-votes {
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin: 0 0 0 10px;
    padding: 5px 0 0;
    text-align: center;
    width: 30px;
    font-size: 11px;
    letter-spacing: -0.05em;
    background: url("../img/jlv_ico_vote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #990066;
    float: right;
    margin: 0 10px 0 0;
}




.item-large .item-infos {
    position: relative;
    background: #333;
    display: block;
    padding: 20px 20px 30px 20px;
    margin: 10px 0;
    height: auto;

    .item-infos-title {
        background: url("../img/jlv_icoBig.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);
        color: #FFFFFF;
        display: block;
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;
        height: auto;
        margin: 0 0 0 5px;
        padding: 5px 0 0 65px;
        width: 94%;
    }
    img {
        display: inline-block;
        vertical-align: top;
    }

    .item-infos-desc {
        color: #EEEEEE;
        display: block;
        font-size: 18px;
        font-style: normal;
        line-height: 25px;
        margin: 10px 10px 30px 10px;
        padding: 0;
    }
    .item-infos-count {
        top: 20px;
        margin: 0;
        position: absolute;
        right: 20px;
bottom: auto;
       }
    .item-infos-count .count-votes {
        background: url("../img/jlv_icoBig_vote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-size: 15px;
        height: 35px;
        padding: 6px 0 0;
        width: 38px;
        margin: 0;
    }
}

#vote-button {
    bottom: 20px;
               margin: 0;
               position: absolute;
               right: 20px;
        .btn-jlv {
            font-size:22px;
            color:#fff;
            background-color: @brand-secondary;
            border-color: #333;
            color: #fff;
        }
        .btn-jlv:hover {
            background-color: @brand-primary;
            border-color: #333;
        }
        .glyphicon {
        top: 5px;
    }
}


.item-large {
    .item-user {
        position: relative;
        background: #fff;
        display: block;
        padding: 20px 20px 30px 20px;
        margin: 10px 0;
        height: auto;
    }

    .social-share {
        position: relative;
        background: #eee;
        display: block;
        padding: 10px 20px 10px 20px;
        margin: 10px 0;
        height: auto;
        .fb-share-button{
            float: left;
            margin: 5px 0 10px 10px;
        }
        .twitter-share-button{
            float: left;
            margin: 5px 0 0 20px;

        }
        #___plusone_0{
            float: left;
            padding: 2px 0 0 20px!important;

        }
    }
}









@media (max-width: @screen-xs-max) {
    body {
      padding-top: 100px;
        font-size: 13px;
    }
    .navbar-accor span {
        float: none;
        font-size: 13px;
        padding: 0;
    }
    .navbar-accor a{
        background-position:  center -11px;
        width: 100%;
    }
    .navbar-header .navbar-brand{
        background-position:  center 4px;
        width: 100%;
    }
    .item .item-infos {
        display: block;
    }
    footer .navbar-accor a,
    footer .navbar-accor a.photobox,
    footer .navbar-accor a.bandyou,

    {
        width: 100%;
        background-position:  center 5px;
    }
    #vote-button .btn-jlv {
        font-size: 16px;
        font-weight: bold;
    }
    .item-large .item-infos .item-infos-title {
        background-size: 45px;
        font-size: 21px;
        line-height: 40px;
        margin: 10px 0 0 5px;
        padding: 2px 0 0 50px;
    }
    .item-infos .item-date {
        width: 50%;
    }
    .item-large .social-share {
        padding: 10px 0;
           .fb-share-button{
               margin: 5px 0 10px 10px;
           }
           .twitter-share-button{
               width: 80px!important;
               margin: 5px 0 0 10px;

           }
           #___plusone_0{
               padding: 2px 0 0 0px!important;

           }
       }
    .epub,
    .prize-board{
        width: 100%;
        text-align: center;
        a {
            display: inline-block;
        }
    }
    .map-detail {
        margin: 0 auto;
           width: auto;
        }


    .btn-participation-col {
        display: table;
         width: 100%;
    }
    .page-banner .button-participate {
        bottom: -54px;
         left: 10px;
    }
    .media {
        text-align: center;
        .pull-left {
            width: 100%;
            text-align: center;
            .media-object {
                display: inline-block;
            }

        }
        .media-body {
            padding: 10px;
            .media-heading {
                color:@navbar-accor-bg;
                padding: 10px 0;
            }

        }
    }



}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {


}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

@media (min-width: @screen-lg-min) {

}














